<section class="faq" id="faq">
  <div class="faq_container container">
    <h2 class="title-h2">
      Sweet <span class="black_span">Questions, Straight</span>
      <span class="pink_span">Answers</span>
    </h2>
    <ul class="faq_list">
      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question">Is it free to play?</span>
        </button>
        <p class="faq-answer">Yes! With optional in-app purchases.</p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question">Do I need the internet?</span>
        </button>
        <p class="faq-answer">No, you can enjoy it offline.</p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question">Can I sync progress across devices?</span>
        </button>
        <p class="faq-answer">Yes, just connect your account.</p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question">Is it suitable for kids?</span>
        </button>
        <p class="faq-answer">Totally! It’s safe, fun, and educational.</p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question">Do levels repeat?</span>
        </button>
        <p class="faq-answer">No — every level is uniquely crafted!</p>
      </li>
    </ul>
  </div>
</section>
