<section class="features" id="features">
  <div class="features_container container">
    <img src="./img/features/features-image.png" alt="candies" />
<div class="futures-content">
  <h2 class="title-h2"><span class="pink_span">Features</span></h2>
  <ul class="features_list">
    <li class="features_item">
      <img src="./img/features/features-item-1.png" alt="features-item" />
      <p>Thousands of Candylicious Levels</p>
    </li>
    <li class="features_item">
      <img src="./img/features/features-item-2.png" alt="features-item" />
      <p>Magic Boosters & Power Combos</p>
    </li>
    <li class="features_item">
      <img src="./img/features/features-item-3.png" alt="features-item" />
      <p>Colorful, Handcrafted Worlds</p>
    </li>
    <li class="features_item">
      <img src="./img/features/features-item-4.png" alt="features-item" />
      <p>Offline Mode – Play Anytime</p>
    </li>
    <li class="features_item">
      <img src="./img/features/features-item-5.png" alt="features-item" />
      <p>Fun for All Ages</p>
    </li>
    <li class="features_item">
      <img src="./img/features/features-item-6.png" alt="features-item" />
      <p>Smooth Performance on All Devices</p>
    </li>
  </ul>
</div>
  </div>
</section>
