<section class="hero">
  <div class="hero_container container">
    <img class="hero-mobile_picture" src="./img/hero/phones.png" alt="phones" />
    <div class="hero_content">
      <h1 class="title_h1">
        <span class="pink_span">Candy</span> Magic – Match 3
        <span class="purple_span">Games</span>
      </h1>
      <p class="hero_text">
        Embark on a candy-matching quest full of wonder and sweetness!
      </p>
      <a class="hero_btn" href="#"
        ><img src="./img/play/playstore.png" alt="play store" />
        <span class="hero-btn-content">
          <span class="hero-btn-content-1">GET IT ON</span>
          <span class="hero-btn-content-2">Google Play</span>
        </span></a
      >
    </div>
  </div>
</section>
