<section class="how-play" id="how-play">
  <div class="how-play_container container">
    <h2 class="title-h2"><span class="black_span">How to</span> play</h2>
    <ul class="how-play-content">
      <li class="how-play-item">
        <img src="./img/how-play/item-1.png" alt="item-1" />
        <p>Swipe & Match 3 + candies</p>
      </li>
      <li class="how-play-item">
        <img src="./img/how-play/item-2.png" alt="item-2" />
        <p>Trigger Magic Explosions</p>
      </li>
      <li class="how-play-item">
        <img src="./img/how-play/item-3.png" alt="item-3" />
        <p>Collect Boosters & Treats</p>
      </li>
      <li class="how-play-item">
        <img src="./img/how-play/item-4.png" alt="item-4" />
        <p>Advance Through Levels</p>
      </li>
      <li class="how-play-item">
        <img src="./img/how-play/item-5.png" alt="item-5" />
        <p>Unlock New Realms </p>
      </li>
    </ul>
  </div>
</section>
