<section class="info" id="info">
  <div class="info_container container">
    <img src="./img/info/info.png" alt="info" />
    <div class="info-content">
      <h2 class="title-h2 class-position">
        A Whirlwind of <span class="pink_span">Sweet</span> Surprises!
      </h2>
      <p class="info_text">
        Dive into a colorful universe where matching candies isn't just fun —
        it's magical! In Candy Magic, every swipe leads you closer to unlocking
        enchanting boosters, crispy explosions, and unforgettable levels.
      </p>
    </div>
  </div>
</section>
