<section class="play" id="play">
  <div class="play_container container">
    <div class="play-content">
      <h2 class="title-h2 play-title">
        <span class="black_span">Ready</span>
        <span class="red_span">to Play?</span>
      </h2>
      <p>Our sweet magical adventure starts now!</p>
      <a class="hero_btn play-btn" href="#"
        ><img
          class="play_img"
          src="./img/play/playstore.png"
          alt="play store"
        />
        <span class="hero-btn-content">
          <span class="play-btn-content-1">GET IT ON</span>
          <span class="play-btn-content-2">Google Play</span>
        </span></a
      >
    </div>
  </div>
</section>
