<section class="reviews" id="reviews">
  <div class="reviews_container container">
    <h2 class="title-h2">
      <span class="black_span">What Our</span>
      <span class="pink_span">Sweet Fans</span>
      <span class="black_span">Say</span>
    </h2>
    <div class="reviews-content">
      <div class="swiper swiper-reviews">
        <div class="swiper-wrapper swiper-wrapper-reviews">
          <div class="swiper-slide swiper-slide-reviews">
            <div class="slide-content slide-content-margin-bottom">
              <img src="./img/reviews/user-1.png" alt="user" />
              <p>"So much fun, I can’t stop playing!"</p>
              <h3>Mia R.</h3>
            </div>
          </div>

          <div class="swiper-slide swiper-slide-reviews">
            <div class="slide-content slide-content-margin-top">
              <img src="./img/reviews/user-2.png" alt="user" />
              <p>"The boosters are a game-changer!"</p>
              <h3>Leo W.</h3>
            </div>
          </div>

          <div class="swiper-slide swiper-slide-reviews">
            <div class="slide-content slide-content-margin-bottom">
              <img src="./img/reviews/user-3.png" alt="user" />
              <p>"Better than any candy game I’ve tried."</p>
              <h3>Priya S.</h3>
            </div>
          </div>

          <div class="swiper-slide swiper-slide-reviews">
            <div class="slide-content slide-content-margin-top">
              <img src="./img/reviews/user-4.png" alt="user" />
              <p>"Visually stunning and super relaxing."</p>
              <h3>Andres J.</h3>
            </div>
          </div>

          <div class="swiper-slide swiper-slide-reviews">
            <div class="slide-content slide-content-margin-bottom">
              <img src="./img/reviews/user-5.png" alt="user" />
              <p>"I love the magical feel and colors!"</p>
              <h3>Zoe K.</h3>
            </div>
          </div>

          <div class="swiper-slide swiper-slide-reviews">
            <div class="slide-content slide-content-margin-top">
              <img src="./img/reviews/user-6.png" alt="user" />
              <p>"It gets better with every level!"</p>
              <h3>Ava D.</h3>
            </div>
          </div>

          <div class="swiper-slide swiper-slide-reviews">
            <div class="slide-content slide-content-margin-bottom">
              <img src="./img/reviews/user-7.png" alt="user" />
              <p>"I play it with my daughter every evening!"</p>
              <h3>Carlos F.</h3>
            </div>
          </div>

          <div class="swiper-slide swiper-slide-reviews">
            <div class="slide-content slide-content-margin-top">
              <img src="./img/reviews/user-8.png" alt="user" />
              <p>"Offline play is a huge plus!"</p>
              <h3>Tina M.</h3>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-button-prev">
        <img
          src="../img/reviews/nav_left.png"
          alt="arrow-left"
          class="swiper-button-prev-img"
        />
      </div>
      <div class="swiper-button-next">
        <img
          src="../img/reviews/nav_right.png"
          alt="arrow-right"
          class="swiper-button-next-img"
        />
      </div>
    </div>
  </div>
</section>
