<section class="unlock" id="unlock">
  <div class="unlock_container container">
    <h2 class="title-h2">
      <span class="black_span">Unlock</span> Sweet Characters
      <span class="black_span">as You Play!</span>
    </h2>
    <div class="unlock-content">
      <p>
        Meet the whimsical Candy Guardians — from Glimmer the Gumdrop Wizard to
        Fizz the Sugar Sprite! Each realm you unlock introduces a new magical
        friend with unique candy powers.
      </p>
      <div class="unlock-images">
        <img class="unlock-candy-1" src="./img/unlock/candy.png" alt="candy">
        <img class="picture_size candy-main" src="./img/unlock/unlock-img.png" alt="garden" />
        <img class="unlock-candy-2" src="./img/unlock/unlock-candy-3.png" alt="candy">
      </div>
    </div>
  </div>
</section>
