.gallery {
  background-image: url(../img/gallery/wave_gallery-mobile.png);
  background-color: #b8e4f0;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  @media screen and (min-width: 1440px) {
    background-image: url(../img/gallery/gallery-wave.png);
  }
}

.gallery_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 60px 16px;
  @media screen and (min-width: 1440px) {
    gap: 76px;
    padding: 100px 0;
  }
}

.gallery-content {
  @media screen and (min-width: 1440px) {
    max-width: 1224px;
    width: 1224px;
  }
}

.swiper-gallery {
  overflow: visible !important;
  display: flex;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.swiper-slide-gallery {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
}
