@import './reset.css';

@import './header.css';
@import './footer.css';
@import './pages.css';

@import './info.css';
@import './faq.css';
@import './how-play.css';
@import './features.css';
@import './gallery.css';
@import './hero.css';
@import './reviews.css';
@import './unlock.css';
@import './play.css';

@import './cookies.css';

:root {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #121212;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 375px;
  min-width: 320px;
  margin: 0 auto;
}

.title-h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #68007e;
  @media screen and (min-width: 1440px) {
    font-size: 28px;
    line-height: 1.57143;
  }
}

.title-h2 > .black_span {
  color: #121212;
}

.title-h2 > .pink_span {
  color: #bb006d;
}

.picture_size {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
